body {
  background-color: #888;
}

table {
  margin: auto;
  width: 350px;
  max-width: 350px;
  height: 32px;
  text-align: center;
  border-radius: 4px;
  padding-right: 10px;
}

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

input:hover {
  border: 0 solid #000;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px #b0d2cf;
}

input:active {
  top: 4px;
  border: 0 solid #000;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: none;
}

#display {
  width: 350px;
  max-width: 350px;
  font-size: 26px;
  text-align: left;
  float: left;
}

#display:hover {
  width: 350px;
  font-size: 26px;
  text-align: left;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

#display:active {
  top: 5px;
  width: 350px;
  font-size: 26px;
  text-align: left;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

#hasil {
    width: 175px;
    max-width: 270px;
    font-size: 26px;
    text-align: right;
    float: left;
  }


#clear {
    width: 175px;
  float: left;
  position: relative;
  display: block;
  background-color: #14cec5;
}

#clear:hover {
  float: left;
  display: block;
  background-color: #14cec5;
  margin-bottom: 15px;
  box-shadow: 0 4px #14cec5;
}

#clear:active {
  float: left;
  top: 4px;
  display: block;
  background-color: #14cec5;
  margin-bottom: 15px;
  box-shadow: none;
}
